 table td{
   border:1px solid black;
   padding: 0 4px;
   text-align: center;

 }
 table tr th{
   text-align: center;
 }
 Header{
   background-color:darkblue;

 }
 Header h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: chartreuse;
  }
 Header h3{
   text-align: center;
   color: chartreuse;
 }
 .container {
   text-align: center;
   border: black solid 1px;
   padding: 10px 10px 4px 4px;
   background-color: chartreuse;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 button{
   color: chartreuse;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   background-color:darkblue;
 }
div.outputcontainer{
   text-align: center;
 }
    
Footer h1{
   background-color: darkblue;
   text-align: center;
 }
